/* Basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Layout */
.app-container {
  display: flex;
  height: 100vh;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background-color: #ebeae5;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  height: 100%;
}

/* Logo styling */
.logo-container {
  margin-bottom: 20px; /* Space between logo and menu */
  display: flex;
}

.logo {
  height: 50px;
}

#manager-dropdown {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

/* Navigation buttons */
.menu button {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  background-color: #ddd;
  cursor: pointer;
}

.menu button:hover {
  background-color: #ccc;
}

/* Main content area */
.content {
  flex: 1;
  padding: 20px;
  background-color: #eaeaea;
}

/* Styling for each section */
.content > div {
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Styling for the Embedded Content */

#learning-container {
  height: 90vh;
}

#dashboard {
  height: 90vh;
}

#agent {
  height: 90vh;
}
